* {
    border-color: #323233
}

.root {
    -fx-background: border-color
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #87939A;
    -fx-text-inner-color: #87939A;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.jfx-password-field {
    -fx-background-size: 30;
}

.jfx-button {
    -fx-background-radius: 25;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: BLACK;
}
/*.jfx-tab-pane .tab-selected-line{
    -fx-stroke: BLACK;
}*/

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1E1E1E;
}
